// base color definition 
$default_color : #ffffff;
$primary_color: #0cb61c;
$secondary_color: rgb(255, 108, 55);

// defining gutters 
$gutters : (
    'x-small': 8px,
    'small': 10px,
    'medium': 20px, 
    'large': 30px
);

// defining screen sizes
$screens: (
    'mobile': 620px,
    'medium': 720px,
    'large': 820px
);

// defining font sizes
$font-sizes: (
    'x-small': 15px,
    'small': 18px,
    'regular': 22px,
    'medium': 28px,
    'large': 56px
);