@import './variables';

@function add-gutter($name: 'small') {
	@return map-get($map: $gutters, $key: $name);
}

@function screen-size($size: 'small') {
	@return map-get($map: $screens, $key: $size);
}

@function font-size($size: 'small') {
	@return map-get($map: $font-sizes, $key: $size);
}

@mixin theme($light-theme) {
	@if $light-theme {
		background-color: lighten($background_color, 100%);
		color: darken($text_color, 100%);
	}
}

@keyframes smooth-in {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0.6;
	}
	100% {
        opacity: 1;
	}
}

/* animation style */
.ani-smooth-out {
    animation: smooth-out;
    animation-duration: .3s;
	animation-timing-function: ease-in-out;
}

// scss rule 
.light-theme {
	@include theme($light-theme: false);
}

// reset all 
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* universal rules */
body {
	color: $text_color;
	background-color: $background_color;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
	color: $primary_color;
}

/* navbar component */

.active_navbar {
	display: flex !important;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: add-gutter('medium') 0;
	position: absolute;
	left: 0;
	width: 100%;
	height: 40%;
	top: add-gutter('small') * 5;
    background-color: lighten($color: $background-color, $amount: 12);
    z-index: 1;
}

.navbar {
	padding: add-gutter('small');
    display: flex;
    justify-content: space-between;
    align-items: center;

	#{&}__heading {
        flex: .4;
		font-size: font-size('medium');
		margin-bottom: add-gutter('small');
	}

	#{&}__links_wrap {
		&__toggler {
			#nav_toggler {
				font-size: font-size('medium');
				cursor: pointer;
				color: $text_color;
                @media (min-width: screen-size('mobile') ) {
                    display: none;
                }
            }
		}

		&__main {
            display: none;
            text-transform: capitalize;

            @media (min-width: screen-size('mobile')) {
               display: flex;
               justify-content: space-between;
            }

            a {
                padding: add-gutter('small') add-gutter('medium') /1.2;

                &:hover {
                    color: $text_color;
                    transition: 0.3s ease;
                }
            }

            a#get_in_touch {
                color: $text_color;
                border: 2px solid $secondary_color;
                padding: add-gutter('small') - 2;
                border-radius: add-gutter('small') - 5;

                &:hover {
                    color: $secondary_color;
                    border-color: $text_color;
                    transition: all .8s ease-in-out;
                }
            }
        }
	}
}
